* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #fce2ce;
}
:root {
  --mainFontColor:#333;
  --mainBlue:#06a5b1;
  --mainTan:#fce2ce; 
}

header {
  background-color: var(--mainBlue);
  padding: 60px;
}

.headerBox {
  background-color: var(--mainFontColor);
  color: var(--mainBlue);
  position: absolute;
  left: 0px;
}
header img {
  max-width: 10%;
  height: auto;
  border-radius: 20%;
  position: absolute;
  left: 10px;
  top: 110px;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  float: right;
}

nav ul li {
  margin: 0 10px;
  text-decoration: underline;
}

nav ul li a {
  text-decoration: none;
  color: var(--mainFontColor);
  font-weight: bold;
}

.headerImage {
  width: auto;

}
.headerImage img{
  width: 100%;
  overflow: hidden;
}

.container,.containerTwo,.containerThree {
  margin: 0 auto;
  display: flex;
  flex: 1 0 0;
  align-items: center;
  width: 50%;
  height: 100vh;
}

h1 {
  margin-right: 20px;
  color: var(--mainBlue)
}

p, .containerImage img, .container ul  {
  border-left: 2px solid var(--mainBlue);
  padding-left: 2rem;
  margin: 16px 0px;
  color: var(--mainFontColor);
  font-weight: bold;
}

.containerImage{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.containerTitle{
  position: absolute;
  top: 30px;
  left: 16px;
  font-size: 18px;
  font-weight: bold;
  color: var(--mainTan);
  text-decoration: underline;
}

.containerImage img {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  height: 200px;
  margin-bottom: 10px;
  padding: 1px;
  border: thick solid var(--mainBlue);
  }

  .applicationOne:first-child img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 520px;
    height: 500px;
    margin-bottom: 10px;
    padding: 1px;
    border: thick solid var(--mainBlue);
  }

/* I attempted various changes to the flexbox properies of my code. However, I could not get the images to align in two columns.*/

  .container img,.containerTwo img ,.containerThree img:hover {
    opacity: 0.9;
  }

.containerThree ul {
  list-style: none;
  float: right;
  justify-content: center;
  display: flex;
}

.containerThree ul li {
  margin: 0 10px;
  text-decoration: underline;
}

@media (max-width: 768px) {
  header,nav,main {
    text-align: center;
    background: #880b11;
  }
}

@media screen and (max-width: 768px) {
  nav {
    background-color: #880b11;
  }
}

@media screen and (max-width: 576px) {
  .container,.containerTwo,.containerThree {
    flex-direction: column;
  }
}