* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    line-height: 1.5;
    background-color: #EDEDF6;
}

.header {
    padding: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #83939F;
    color: #fff;
}

.myself {
    width: 250px;
    height: 10%;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding-top: 10px;
}

.header h1 {
    display: block;
    font-size: 40px;
    float: left;
    padding: 10px;
    
}

.header ul {
    list-style-type: none;
    float: right;
}

.header ul li {
    display: inline-block;
    margin-left: 25px;
    color: #b60707;
}
.about-me {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}
.about-me, h2{
    margin-right: 30px;
    position: absolute;
    border-right: 1px solid black;
    
}
.about-me, p{
    border-left: 2px #000000;
    padding-left: 30px;
}

.work {
    float: left;
}
.prework {
    float: right;
    margin: 10px;
    display: block;
    background-color: #d16969;
    padding: 10px;
    display: flex;
    justify-content:space-between ;
    flex-wrap:wrap;
    align-items: center;
}

.prework:hover {
    border-color: #08a008;
    color: #c4c40d;
}

.prework,.battleship {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 5px solid #138c9c;
    background-color: #fff;
}

.contact-me ul li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    text-decoration: underline;
}

